<footer id="footer" class="dark">
    <div class="container">
        <!-- Footer Widgets
        ============================================= -->
        <div class="footer-widgets-wrap">						

            <div class="row">

                <div class="col-lg-5 order-lg-12 pb-4">

                    <img src="demos/business/images/logo.png" alt="Image" class="footer-logo">

                    <p>We relish creating and embedding intelligent technology in other people’s <strong>Ideas</strong> and <strong>Products</strong>.</p>
                    
                    <div class="d-flex mt-4">
                        <a href="https://www.facebook.com/profile.php?id=61556552733543" class="social-icon si-small rounded-circle text-white bg-facebook">
                            <i class="fa-brands fa-facebook-f"></i>
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>

                        <a href="#" class="social-icon si-mini rounded-circle border-0 text-light bg-instagram">
                            <i class="bi-instagram"></i>
                            <i class="bi-instagram"></i>
                        </a>

                        <!-- <a href="#" class="social-icon si-small rounded-circle text-white bg-pinterest">
                            <i class="fa-brands fa-pinterest-p"></i>
                            <i class="fa-brands fa-pinterest-p"></i>
                        </a> -->

                        <!-- <a href="#" class="social-icon si-small rounded-circle text-white bg-github">
                            <i class="fa-brands fa-github"></i>
                            <i class="fa-brands fa-github"></i>
                        </a> -->

                        <a href="#" class="social-icon si-small rounded-circle text-white bg-linkedin">
                            <i class="fa-brands fa-linkedin"></i>
                            <i class="fa-brands fa-linkedin"></i>
                        </a>
                        
                        <a href="#" class="social-icon si-small rounded-circle text-white bg-google">
                            <i class="fa-brands fa-google"></i>
                            <i class="fa-brands fa-google"></i>
                        </a>
                    </div>

                </div>

                <div class="col-lg-3 order-lg-6 pb-5">

                    <h4>Important Links</h4>

                    <div class="posts-sm row col-mb-30" id="post-list-footer">
                        <div class="entry col-12">
                            <div class="grid-inner row">
                                <div class="col">
                                    <div class="entry-title">
                                        <h4><a href="index.html#about-us">About us</a></h4>
                                    </div>
                                
                                </div>
                            </div>
                        </div>

                        <div class="entry col-12">
                            <div class="grid-inner row">
                                <div class="col">
                                    <div class="entry-title">
                                        <h4><a href="services.html">Services</a></h4>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>

                        <div class="entry col-12">
                            <div class="grid-inner row">
                                <div class="col">
                                    <div class="entry-title">
                                        <h4><a href="careers.html">Careers</a></h4>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                
                <div class="col-lg-4 order-lg-1">

                    <h4>Contact us</h4>

                    <abbr title="Phone Number"><strong>Phone :</strong></abbr><br><a href="tel:+918660746750">+91 86607 46750</a><br><br>
                    <abbr title="Email Address"><strong>Email :</strong></abbr><br><a href="mailto:mail@epesign.com">mail@epesign.com</a><br><br>

                    <address class="mb-0">
                        <abbr title="Headquarters" style="display: inline-block;margin-bottom: 7px;"><strong>Address :</strong></abbr><br>
                        F-86 Vinyas, ITI Limited<br>
                        Dooravaninagar, Bengaluru <br>
                        Karnataka - 560016<br>
                    </address>

                </div>
                
            </div>


        </div>
        <!-- .footer-widgets-wrap end -->
    </div>

    <!-- Copyrights
    ============================================= -->
    <div id="copyrights">
        <div class="container">

            <div class="w-100 text-center">
                <!-- <div class="copyrights-menu copyright-links">
                    <a href="#">Home</a>/<a href="#">About</a>/<a href="#">Features</a>/<a href="#">Portfolio</a>/<a href="#">FAQs</a>/<a href="#">Contact</a>
                </div> -->
                Copyrights &copy; 2023 <br>All Rights Reserved by Epesign Technologies
            </div>

        </div>
    </div><!-- #copyrights end -->
</footer>